@font-face {
    font-family: 'bebas_bold';
    src: url('../fonts/bebas_bold.eot?') format('eot');
    src: url('../fonts/bebas_bold.eot?iefix') format('embedded-opentype'),
    url('../fonts/bebas_bold.woff') format('woff'),
    url('../fonts/bebas_bold.ttf') format('truetype'),
    url('../fonts/bebas_bold.svg#bebas_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
