/* Styles live here */

/* Header Styling */
@media screen {

  header {
    width: 100%;
    background-color: black;
  }

  nav {
    text-align: center;
  }

  nav ul {
    display: inline-block;
    padding: 0;
  }

  nav ul li {
    display: inline-block;
    font-size: 1em;
    padding: 0px 10px 0px 10px;
  }

  nav a {
    color: white;
    text-decoration: none;
  }

  nav a:hover {
    color: green;
  }

  body, html {
    font-family: 'bebas_bold';
    background-color: #fff;
  }

  h1, h2, h3, h4, h5 {
    font-weight: normal;
  }

  input {
    width: 70%;
    margin: 0 0 10px 0;
    border: none;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
  }

  input:focus, textarea:focus {
    outline: none;
  }

  .wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
  }

  .imgCircle {
    width: 100%;
    border-radius: 50%;
    text-align: center;
  }

  .contentCenter img {
    width: 100%;
  }

  .clearfix {
    overflow: auto;
    zoom: 1;
  }

  #map_canvas {
    width: 100%;
    height: 500px;
    margin: 0 auto;
  }

/* Title Block Styling */

  .titleBlock {
    display: table;
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .titleContent {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .titleContent:before {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .titleContent h5 {
    margin: 0;
    font-size: 6em;
    text-transform: uppercase;
  }

  .titleContent h1 {
    margin: 0;
    font-size: 4em;
    text-transform: uppercase;
  }

  .titleContent h1, .titleContent h2, .titleContent h5 {
    color: #fff;
  }

  .titleContent h2 {
    margin: 0;
    font-size: 1.6em;
    font-family: 'Roboto', sans-serif;
  }

  .titleOverlay {
    position: absolute;
    background: #000;
  }

  .titleContent img {
    width: 100%;
  }

/* Sub heading styles */

.subheading {
  display: table;
  width: 100%;
  height: 200px;
  text-align: center;
  background-color: black;
  color:white;
}

.subheading div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.subheading h2 {
  margin-top: auto;
  color: white;
}

/* Background Images for Index.php */

  .backOne {
    height: 800px;
    background:

    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),

    url('../img/001.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
  }

  .backTwo {
    height: 400px;
    background:

    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),

    url('../img/002.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
  }

  .backThree {
    height: 400px;
    background:

    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),

    url('../img/003.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
  }

  .backFour {
    height: 400px;
    background:

    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),

    url('../img/004.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
  }

/* Background Images for Onehour.php */

.backFive {
  height: 800px;

  background:

  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),

  url('../img/005.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
  }

  /* Content Styling */

  .contentMain {
    width: 100%;
  }

  .contentMain ul {
    color: #fff;
  }

  .contentRow {
    display: table;
    width: 100%;
    height: 800px;
  }

  .contentCenter {
    display: table-cell;
    width: 50%;
    padding: 200px;
    vertical-align: middle;
  }

  .contentCenter h2 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }

  .contentColor {
    background: #484A93;
    background: -moz-linear-gradient(-45deg,  rgba(72,74,147,0.8) 0%, rgba(0,84,147,0.8) 100%);
    background: -webkit-linear-gradient(-45deg,  rgba(72,74,147,0.8) 0%,rgba(0,84,147,0.8) 100%);
    background: linear-gradient(135deg,  rgba(72,74,147,0.8) 0%,rgba(0,84,147,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc484a93', endColorstr='#cc005493',GradientType=1 );
  }

  .contentAlt {
    background-color: #fff;
  }

  .contentTwitter {
    display: block;
  }

  .contentGrid {
    float: left;
    width: 20%;
    height: 30vh;
    background: #eee;
  }

  .contentStyle {
    padding: 20px;
  }

  .contentCenter h1 {
    color: #fff;
    margin: 0.2em 0;
    font-size: 4em;
  }

  .contentCenter h2 {
    color: #fff;
  }

  .altText h2 {
    color: black;
  }

  .mapContent {
    padding: 100px;
  }
