/* Styles live here */

/* Header Styling */
@media screen {

  header {
    width: 100%;
    background-color: black;
  }
  nav {
    text-align: center;
  }

  nav ul {
    display: inline-block;
    padding: 0;
  }
  nav ul li {
    display: inline-block;
    font-size: 1em;
    padding: 0px 10px 0px 10px;
  }

  nav a {
    color: white;
    text-decoration: none;
  }

  nav a:hover {
    color: green;
  }

  body, html {
    font-family:'MaisonNeue-Light';
    background-color: #005493;
  }

  .wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #005493;
  }

  .imgCircle {
    border-radius: 50%;
}

  .colourGrey {
    background-color: #eee;
  }

  /* Call to Action Styling */

  .callToAction {
    display: table;
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
  }

  .calltoTitles {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .callToAction img {
    width: 100%;
  }

  .callToAction h1 {
    color: #fff;
    font-size: 5em;
  }

  .callToAction h2 {
    color: #fff;
  }

  /* Pledge Block Style */

  .pledgeWrapper {
    height: 800px;
    position: relative;
  }

  .pledgeToAction {
    display: table;
    position: relative;
    width: 100%;
    height: 800px;
  }

  .pledgeTitles {
    display: table-cell;
    width: 50%;
    height: 800px;
    text-align: center;
    vertical-align: middle;
  }

  .pledgeContent {
    padding: 200px;
  }

  .pledgeBar {
    height: 100px;
    width: 50%;
    border: 5px solid white;
    position: absolute;
    left: 25%;
    top: 40%;
  }

  .pledgeWrapper {
    color: white;
  }

  .pledgeProgress {
    height: 99px;
    width: 75%;
    background-color: green;
  }


  /* Call to Action Styling */

  .callToMap {
    display: table;
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
  }

  .callToMapMain {
    display: table-cell;
    vertical-align: middle;
    background: url(../img/map.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
  }

  .callToAction img {
    width: 100%;
  }
}
